:root {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}